.main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position:sticky;
  bottom: 0rem;
  padding: 0.8rem 0.5rem ;
  width: 98.9%;
  background-color: #fff;
  border-top: 1px solid grey;
}

.main img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* 
.main :nth-child(1){
  border-top: 5px solid green; */

/* } */